[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statespacer"]
	path = statespacer
	url = https://github.com/dylanb95/statespacer
